################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/InventorySystem/bin
/InventorySystem/obj/Debug
/InventorySystem/.vs/InventorySystem
/InventorySystem/packages
/InventorySystem/.vs
/InventorySystem/obj/Release
/InventorySystem/Web.config
